/.autotools
/.cproject
/.project
/.settings/
/src/.deps/
/src/pipe
/aclocal.m4
/config.guess
/config.h
/autom4te.cache/
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
*.log
*.o
*.in
Makefile
